@model List<CreditModel>
@{
    ViewData["Title"] = "Credit";
}
<div class="main">

    <h2>
        Таблица микрозаймов
    </h2>

    <div id="searchPanel" style="margin: 30px; display: none">
        <form method="get" asp-controller="Credit" asp-action="Index">
            <div class="filter">
                <div class="filter-container">
                    <div class="filter-text-container">
                        <div class="filter-text">
                            Сортировать:
                        </div>
                        <div class="filter-text">
                            Валюта:
                        </div>
                        <div class="filter-text">
                            Максимальная сумма от:
                        </div>
                        <div class="filter-text">
                            Срок до:
                        </div>
                        <div class="filter-text">
                            Процентная ставка до:
                        </div>
                        <div class="filter-text">
                            Мои рекомендации:
                        </div>
                    </div>
                    <div>
                        <div>
                            <select name="sortingType" class="filter-input">
                                <option>
                                    -
                                </option>
                                <option value="0">
                                    По минимальной сумме вклада (a-z)
                                </option>
                                <option value="1">
                                    По минимальной сумме вклада (z-a)
                                </option>
                                <option value="2">
                                    По минимальному сроку (a-z)
                                </option>
                                <option value="3">
                                    По минимальному сроку (z-a)
                                </option>
                                <option value="4">
                                    По процентной ставке (a-z)
                                </option>
                                <option value="5">
                                    По процентной ставке (z-a)
                                </option>
                            </select>
                        </div>
                        <div>
                            <select name="currencyParam" class="filter-input">
                                <option value="@null">
                                    -
                                </option>
                                <option value="BYN">
                                    BYN
                                </option>
                                <option value="RUB">
                                    RUB
                                </option>
                                <option value="USD">
                                    USD
                                </option>
                                <option value="EUR">
                                    EUR
                                </option>
                            </select>
                        </div>
                        <div>
                            <input type="number" maxlength="10" name="maxAmount" class="filter-input" />
                        </div>
                        <div>
                            <input type="number" maxlength="10" name="periodTo" class="filter-input" />
                        </div>
                        <div>
                            <input type="number" step="0.01" name="maxPercent" class="filter-input" />
                        </div>
                        <div>
                            <input type="checkbox" name="isRecomendation" value="true" class="filter-input" />
                        </div>
                    </div>
                </div>
                <input type="submit" value="Применить" class="filter-input button-credit" />
            </div>
        </form>
    </div>
    <div style="margin-bottom: 30px; width: 50%;">
        <button id="openSearch" style="width: 100%;" class="button-credit">
            Поиск
        </button>
        <button id="compareDeposits" style="width: 100%;" class="button-credit">
            Сравнить вклады
        </button>
        <div style="display: inline;">
            <button id="compareInput" style="width: 100%; display:none" class="btn-success" onclick="showSelected()">
                Сравнить
            </button>
            <button id="cancelCompare" style="width: 100%; display:none" class="btn-danger" onclick="cancelCompare()">
                Отмена
            </button>
        </div>
    </div>
    <div>
        <table class="table sticky-table">
            <thead>
                <tr>
                    <th class="th-header">
                        #
                    </th>
                    <th class="th-header">
                        Название
                    </th>
                    <th class="th-header">
                        Валюта
                    </th>
                    <th class="th-header">
                        Мин. Сумма
                    </th>
                    <th class="th-header">
                        Макс. Сумма
                    </th>
                    <th class="th-header">
                        Срок
                    </th>
                    <th class="th-header">
                        Ставка
                    </th>
                </tr>
            </thead>
            <tbody>
                @{int i = 0;}
                @foreach (CreditModel credit in Model)
                {
                    i++;
                    <tr class="table-row">
                        <th rowspan="@credit.SingleCreditList.Count" style="vertical-align: middle;">
                            @i
                        </th>
                        <td rowspan="@credit.SingleCreditList.Count" style="vertical-align: middle;">
                            @if (!string.IsNullOrEmpty(credit.CreditDescription))
                            {
                                <a href="/CreditDetails?creditId=@credit.ID">
                                    @credit.CreditName
                                </a>
                            }
                            else
                            {
                                @credit.CreditName
                            }
                        </td>
                        <td>
                            @credit.SingleCreditList.First().Currency
                        </td>
                        @if (credit.SingleCreditList.First().MinSum == 0)
                        {
                            <td>-</td>
                            <td>@credit.SingleCreditList.First().MaxSum</td>
                        }
                        else if (credit.SingleCreditList.First().MaxSum == 0)
                        {
                            <td>@credit.SingleCreditList.First().MinSum</td>
                            <td>-</td>
                        }
                        else
                        {
                            <td>@credit.SingleCreditList.First().MinSum</td>
                            <td>@credit.SingleCreditList.First().MaxSum</td>
                        }
                        @if (credit.SingleCreditList.First().Period.IsInterval)
                        {
                            string minPType = credit.SingleCreditList.First().Period.MinPeriodType == 0 ? "дн." : "мес.";
                            string maxPType = credit.SingleCreditList.First().Period.MaxPeriodType == 0 ? "дн." : "мес.";
                            <td style="width: 10%">От @credit.SingleCreditList.First().Period.MinPeriod.Value @minPType До @credit.SingleCreditList.First().Period.MaxPeriod @maxPType</td>
                        }
                        else
                        {
                            string maxPType = credit.SingleCreditList.First().Period.MaxPeriodType == 0 ? "дн." : "мес.";
                            <td style="width: 10%">До @credit.SingleCreditList.First().Period.MaxPeriod @maxPType</td>
                        }
                        @if (@credit.SingleCreditList.First().Percent.MaxPercent == 0)
                        {
                            <td>-</td>
                        }
                        else
                        {
                            <td>@credit.SingleCreditList.First().Percent.MaxPercent%</td>
                        }
                        <td id="checkboxCompare" style="display:none" name="@i"><input type="checkbox" /></td>
                    </tr>
                    @if (credit.SingleCreditList.Count > 1)
                    {
                        int j = 0;
                        @foreach (SingleCreditModel singleCredit in credit.SingleCreditList.Skip(1))
                        {
                            j++;
                            <tr class="table-row">
                                <td>@singleCredit.Currency</td>
                                <td>@singleCredit.MinSum</td>
                                @if (singleCredit.MaxSum != 0)
                                {
                                    <td>@singleCredit.MaxSum</td>
                                }
                                else
                                {
                                    <td>-</td>
                                }
                                @if (singleCredit.Period.IsInterval)
                                {
                                    string minPType = singleCredit.Period.MinPeriodType == 0 ? "дн." : "мес.";
                                    string maxPType = singleCredit.Period.MaxPeriodType == 0 ? "дн." : "мес.";
                                    <td style="width: 10%">От @singleCredit.Period.MinPeriod.Value @minPType До @singleCredit.Period.MaxPeriod @maxPType</td>
                                }
                                else
                                {
                                    string maxPType = singleCredit.Period.MaxPeriodType == 0 ? "дн." : "мес.";
                                    <td style="width: 10%">До @singleCredit.Period.MaxPeriod @maxPType</td>
                                }
                                @if (singleCredit.Percent.MaxPercent == 0)
                                {
                                    <td>-</td>
                                }
                                else
                                {
                                    <td>@singleCredit.Percent.MaxPercent%</td>
                                }
                                <td id="checkboxCompare" style="display:none" name="@i-@j"><input type="checkbox" /></td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        var isOpened = false;
        $(document).ready(function () {
            $("#openSearch").click(function () {
                if (isOpened) {
                    $("div#searchPanel").slideUp("fast");
                    isOpened = false;
                } else {
                    $("div#searchPanel").slideDown("fast");
                    isOpened = true;
                }
            })
        });

        $(document).ready(function () {
            $("#compareDeposits").click(function () {
                if (document.getElementById("checkboxCompare").style.display == 'none') {
                    $('*[id*=checkboxCompare]').each(function () {
                        $(this).fadeIn();
                    });
                    document.getElementById("compareInput").style.display = 'block';
                    document.getElementById("compareDeposits").style.display = 'none';
                    document.getElementById("cancelCompare").style.display = 'block';
                } else {
                    $('*[id*=checkboxCompare]').each(function () {
                        $(this).fadeOut()
                    });
                    document.getElementById("compareInput").style.display = 'none';
                    document.getElementById("compareDeposits").style.display = 'block';
                    document.getElementById("cancelCompare").style.display = 'none';
                }
            })
        });

        function showSelected() {
            $('table input[type=checkbox]').each(function () {
                if (!$(this).prop('checked')) {
                    $(this).parent().parent().fadeOut();
                }
            });
            document.getElementById("compareInput").style.display = 'none';
            document.getElementById("compareDeposits").style.display = 'block';
        }

        function cancelCompare() {
            $('table input[type=checkbox]').each(function () {
                $(this).parent().parent().fadeIn();
            });
            document.getElementById("compareInput").style.display = 'none';
            document.getElementById("cancelCompare").style.display = 'none';
            document.getElementById("compareDeposits").style.display = 'block';

            $('*[id*=checkboxCompare]').each(function () {
                $(this).fadeOut();
                $(this).prop('checked', false);
            });
        }
    </script>
</div>